{plugins,[ling_builder]}.

{deps,[
	{stringprep,".*",
			{git,"git://github.com/treacheroustalks/stringprep-app.git","ejd_otp_clean"}},
	{ejabberd,".*",
			{git,"git://github.com/treacheroustalks/ejabberd-app.git","ejd_otp_clean"}},
	{ling_builder,".*",
			{git,"git://github.com/maximk/ling_builder.git","master"}}
]}.

{ling_builder_opts,[
	{build_host,"localhost:8080"},
	{username,"test"},
	{password,"test"},
	{import_lib,sasl},
	{import_lib,crypto},
	{import_lib,public_key},
	{import_lib,ssl},
	{import_lib,mnesia},
	{import,"priv/*"}
]}.

%%EOF
